@import 'Styles/vars.scss';

article.settings {
  margin: 0 auto;

  form {
    display: flex;
    justify-content: center;
    flex-flow: wrap column;
    font-size: 14px;

    fieldset {
      font-size: 14px;
      border: none;
      box-sizing: border-box;
      background: rgba(0, 0, 0, 0.226);
      border-radius: 5px;
      display: flex;
      flex-flow: column wrap;
      margin: 5px 0;
      padding: 5px;
      width: 100%;
    }

    button.user {
      background: rgba(0, 0, 0, 0.226);
      border: rgba(0, 0, 0, 0.226);
      border-radius: 5px;
      font-size: 14px;
      color: $selected;
      padding: 5px 0;
      margin: 5px 0;
    }
    .react-date-picker__button {
      input,
      button,
      div {
        color: $not-selected;
      }
    }
    div.react-date-picker__button {
      border: none;
    }
    .react-date-picker__button__icon:enabled svg g, 
    .react-date-picker__button__icon:enabled svg g {
      stroke: $not-selected;
    }
    .react-date-picker__button__icon:enabled:hover svg g, 
    .react-date-picker__button__icon:enabled:focus svg g {
      stroke: $selected;
    }
    input.user {
      border: none;
      color: $not-selected;
      font-weight: 100;
      background-color: transparent;
      font-size: 14px;
      font-family: $font;

      &[type='submit'] {
        width: 50px;
      }

      &[name='currentYear'] {
        text-align: center;
        background: rgba(0, 0, 0, 0.226);
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
      }

      &:focus {
        outline: none;
      }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      box-shadow: 0 0 0px 1000px #627f95 inset;
      background: transparent;
      -webkit-text-fill-color: white;
    }
  }
}