@import 'Styles/vars.scss';

article.miroirs {
  display: flex;
  align-items: center;
  justify-content: center;
  ul.miroirs {
    padding: 2%;
    margin: 0;
    border-radius: 45%;
    height: 70vh;
    width: 90%;
    font-weight: 400;
    display: flex;
    align-items: baseline;
    flex-flow: wrap row;
    justify-content: center;

    li {
      list-style: none;
      width: 33%;
      margin: 10px;
      border-radius: 5px;
      background: $card-bg;
      padding: 5px;
      
      .miroir-image {
        background: $card-bg;
        width: 20%;
        order: 1;
        padding: 5px;
        border-radius: 5px;
        margin: 0 30px;
      }
      .miroir-title {
        order: 2;
        padding: 2% 10%;
        margin: 0;
      }
      .combinaison {
        display: flex;
        justify-content: center;
        flex-flow: wrap row;
        padding: 0;

        .combinaison-maison {
          font-weight: 100;
          width: 92%;
          margin: 5px 0;
        }
      }
    }
  }
  p {
    color: black;
    font-size: 1.5em;
  }
}
