@import 'Styles/vars.scss';
@import 'Styles/animations.scss';

article.miroirs {
  margin-right: 200px;
  h2 {
    color: $selected;
    margin: 0;
    font-weight: 100;
  }
  ul.miroirs {
    padding: 2%;
    margin: auto;
    border-radius: 45%;
    height: 70vh;
    width: 90%;
    font-weight: 400;
    display: flex;
    align-items: baseline;
    flex-flow: wrap row;
    justify-content: center;
    animation: slideUp 1s;

    li {
      list-style: none;
      width: 33%;
      margin: 10px;
      border-radius: 5px;
      background: $card-bg;
      padding: 5px;
      box-shadow: $boxShadowOnBg;
      
      .miroir-image {
        background: $card-bg;
        width: 20%;
        order: 1;
        padding: 5px;
        border-radius: 5px;
        margin: 0 30px;
        box-shadow: $boxShadowOnEl;
      }
      .miroir-title {
        order: 2;
        padding: 2% 10%;
        margin: 0;
        font-size: 18px;
        animation: fade 2s;
      }
      .combinaison {
        display: flex;
        justify-content: center;
        flex-flow: wrap row;
        padding: 0;
        
        .combinaison-maison {
          box-shadow: $boxShadowOnEl;
          font-weight: 100;
          width: 92%;
          margin: 5px 0;
          animation: fade 3s;
        }
      }
    }
  }
  p {
    color: black;
    font-size: 1.5em;
  }
}
