@media all {
	.page-break	{ display: none; }
}
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  body > *:not(section.results) {
    display: none !important;
  }

  header,
  footer,
  section.sidenav,
  #background {
    display: none !important;
  }
  main, #root, {
    height: unset !important;
    width: unset !important;
  }


  @page {
    margin: 0cm;
  }
  article.arcanes {
    background: white !important;
    page-break-inside: avoid !important;
    margin: auto !important;
    padding: 0 !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    font-size: 9px !important;
    width: 100vw !important;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
    ul {
      position: relative !important;
      top: -2cm !important;
      margin: auto !important;
      width: 100vw !important;
      page-break-inside: avoid !important;
      height: 95vh !important;
      li {
        page-break-inside: avoid !important;
        height: 2.5cm !important;
        color: black !important;
        margin: 1pt 0 !important;
        padding: 0 !important;
        img {
          height: 4cm !important;
          width: auto !important;
        }
        p {
          color: black !important;
          font-size: 14pt !important;
        }
        figcaption {
          &.description {
            margin: 0 !important;
            font-size: 14pt !important;
          }
        }
      }
    }
    ul.first {
      width: 15cm !important;

      .m4 {
        margin-right: 20% !important;
      }
      .m6 {
        margin: 0 0 10px 10% !important;
      }
      .m8 {
        margin: 0 10% 10px 0 !important;
      }
    }
    ul.second {
      width: 6cm !important;
      padding: 0 !important;
      height: 95vh !important;
      li {
        height: auto !important;
        padding: 5pt 0 !important;
      }
    }
  }
  article.miroirs {
    margin: auto !important;
    height: 100vh !important;
    h2 {
      font-size: 20pt !important;
      margin: 5pt 0 3pt !important;
    }
    ul {
      margin: auto !important;
      height: auto;
      width: 100vw !important;
      justify-content: flex-start !important;
      
      li {
        border: 1px solid rgba(0, 0, 0, 0.212) !important;
        background-color: rgba(211, 211, 211, 0.13) !important;
        -webkit-print-color-adjust: exact;
        border: none !important;
        width: 7cm !important;
        margin: 1pt !important;
        padding: 1cm 0 !important;
        height: auto !important;
        display: inline;
        padding: 1pt 0 !important;
        
        img {
          width: auto !important;
          height: 4cm !important;
          display: inline !important;
          padding: 4pt 0 !important;
          margin: 0 1pt !important;
          margin: 0;
        }
        p {
          font-size: 14pt !important;
          font-weight: 400;
        }
        ul {
          padding: 6pt 0 !important;
          margin: 0 auto !important;
          width: 5cm !important;
          
          li {
            border: 1px solid rgba(0, 0, 0, 0.212) !important;
            background-color: rgba(211, 211, 211, 0.336) !important;
            -webkit-print-color-adjust: exact;
            width: 10cm !important;
            padding: 0 !important;
            font-size: 12pt !important;
            margin: 1pt auto !important;
          }
        }
      }
      li.fullname {
        p {
          font-size: 9pt;
          font-weight: 400;
        }
      }
    }
  }

  article.chemins-triades {
    height: auto !important;
    h2 {
      font-size: 20pt !important;
      width: 100vw !important;
      margin: 3pt 0 3pt !important;
    }
    h2.triades {
      page-break-before: always !important;
      order: 3 !important;
    }
    ul.list-chemins {
      order: 2 !important;
      page-break-after: always !important;
    }
    ul.list-triades {
      display: flex !important;
      flex-flow: wrap row !important;
      justify-content: space-between !important;
      li {
        width: 25vw;
      }
    }
    ul.list-chemins, ul.list-triades {
      height: auto !important;
      width: 90vw !important;
      margin: auto !important;
      overflow: visible!important;

      li {
        border-bottom: 1px solid !important;
        border-radius: 0 !important;
        margin: 6pt auto !important;
        display: block;
        padding: 0 !important;
        font-size: 15pt;
        
        figure {
          margin: 0 !important;
          padding: 0 !important;
          
          ul {
            li {
              padding: 0 !important;
              margin: 0 !important;
              border: none !important;

            }
          }
          img {
            height: 3.5cm !important;
          }
          figcaption {
            margin: 0 auto 2pt !important;
            padding: 0 !important;
            font-size: 15pt;
          }
        }
      }
    }
  }
  article.annees-personnelles {
    width: 90vw !important;
    margin: auto !important;
    
    ul {
      margin: auto !important;
      height: 100vh !important;
      overflow: visible !important;
      li {
        page-break-inside: avoid;
        width: auto !important;
        margin: 1pt !important;
        padding: 1pt !important;
        img {
          height: auto !important;
          width: 1.3cm !important;
        }
        p {
          font-size: 8pt !important;
        }
      }
    }
  }
}