@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  body > *:not(section.results) {
    display: none !important;
  }

  header,
  footer,
  section.sidenav,
  #background {
    display: none !important;
  }
  main, #root, {
    height: unset !important;
    width: unset !important;
  }


  @page {
    margin: 0cm;
    size: landscape;  
  }
  article.arcanes {
    background: white !important;
    page-break-inside: avoid !important;
    margin: auto !important;
    position: relative;
    width: 20cm !important;
    height: 13cm !important;
    font-size: 9px !important;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
    ul {
      li {
        color: black !important;
        margin: .05cm 0 !important;
        padding: 0 !important;
        img {
          height: 2cm !important;
          width: auto !important;
        }
        p {
          color: black !important;
          font-size: 9pt !important;
        }
        figcaption {
          &.description.show-description {
            margin: 0 !important;
            font-size: 9pt;
          }
        }
      }
    }
    ul.first {
      width: 10cm !important;

      .m4 {
        margin-right: 20% !important;
      }
      .m6 {
        margin: 0 0 10px 10% !important;
      }
      .m8 {
        margin: 0 10% 10px 0 !important;
      }
    }
    ul.second {
      width: 3cm !important;
      padding: 0 !important;
    }
  }
  article.miroirs {
    margin: auto !important;
    h2 {
      font-size: 10pt !important;
      margin: 5pt 0 3pt !important;
    }
    ul {
      height: auto;
      width: 10cm;

      li {
        border: .5pt solid black;
        margin: 3pt !important;
        padding: 1pt !important;
        display: inline;
        padding: 1pt 0 !important;

        img {
          width: auto !important;
          height: 35pt !important;
          display: inline !important;
          padding: 0 !important;
          margin: 0 1pt !important;
          margin: 0;
        }
        p {
          font-size: 6pt !important;
        }
        ul {
          padding: 0 !important;
          margin: 0 auto !important;
          width: 2cm !important;
          
          li {
            border: none !important;
            font-size: 5pt !important;
            margin: 1pt auto !important;
          }
        }
      }
    }
  }
  article.voies-boucles {
    height: 100vh !important;
    h2 {
      font-size: 10pt !important;
      margin: 0 0 3pt !important;
    }
    ul.list-voies, ul.list-boucles {
      height: 90vh !important;
      width: 49% !important;
      overflow: visible!important;
      
      li {
        border-bottom: 1px solid !important;
        border-radius: 0 !important;
        margin: 2pt auto !important;
        padding: 0 !important;
        font-size: 5pt;
        
        figure {
          margin: 0 !important;
          padding: 0 !important;
          
          ul {
            li {
              padding: 0 !important;
              margin: 0 !important;
              border: none !important;

            }
          }
          img {
            height: 35pt !important;
          }
          figcaption {
            margin: 0 auto 2pt !important;
            padding: 0 !important;
            font-size: 5pt;
          }
        }
      }
    }
  }
  article.annees-personnelles {
    width: 90vw !important;
    margin: auto !important;
    
    ul {
      margin: auto !important;
      height: 100vh !important;
      overflow: visible !important;
      li {
        page-break-inside: avoid;
        width: 14pt !important;
        margin: 1.2pt !important;
        padding: 1pt !important;
        p {
          font-size: 4.5pt !important;
        }
      }
    }
  }
}