@media all {
  .break {
    display: none;
  }
}

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  header,
  footer,
  section.sidenav,
  #background {
    display: none !important;
  }

  main {
    height: 100% !important;
    width: 100% !important;

    section {
      height: inherit !important;
      width: inherit !important;
    }
  }

  @page {
    margin: 0cm;
  }

  .arcanes {
    align-content: center !important;
    align-items: center !important;
    background: white !important;
    break-inside: avoid !important;
    font-size: 9px !important;
    height: 100vh !important;
    justify-content: center !important;
    padding: 0 !important;
    position: relative !important;
    top: 0 !important;
    width: 100% !important;

    ul {
      break-inside: avoid !important;

      li {
        break-inside: avoid !important;
        height: auto !important;
        color: black !important;
        margin: 0 !important;
        padding: 0 !important;
        overflow: visible !important;

        &.m6,
        &.m7,
        &.m8,
        &.m10 {
          box-sizing: border-box;
          padding: 10pt !important;
        }

        figure {
          box-sizing: border-box;
          padding: 5pt !important;
          overflow: visible !important;
          height: 4.8cm !important;

          img {
            height: 4cm !important;
            width: auto !important;
          }
        }

        p {
          color: black !important;
          font-size: 14pt !important;
        }

        figcaption {
          &.description {
            margin: 0 !important;
            font: 500 14pt 'Open Sans', arial !important;
          }
        }
      }
    }

    ul.first {
      height: initial !important;
      width: 15cm !important;

      .m4 {
        margin-right: 15% !important;
      }

      .m6 {
        margin: 0 0 10px 9.3% !important;
      }

      .m8 {
        margin: 0 9.3% 10px 0 !important;
      }

      .m9 {
        margin: 0 0 0 -1cm !important;
      }
    }

    ul.second {
      padding: 0 !important;
      height: initial !important;
      width: 4cm !important;

      li {
        width: 4cm !important;
        height: auto !important;
        padding: 5pt 0 !important;
      }
    }
  }

  .miroirs {
    margin: 1cm auto 0 !important;
    height: 100vh !important;

    h2 {
      font: 500 20pt 'Open Sans', arial !important;
      margin: 5pt 0 3pt !important;
    }

    ul {
      margin: auto !important;
      height: auto;
      width: 100vw !important;
      justify-content: flex-start !important;

      li {
        border: 1px solid rgba(0, 0, 0, 0.212) !important;
        background-color: rgba(211, 211, 211, 0.13) !important;
        -webkit-print-color-adjust: exact;
        border: none !important;
        width: 7cm !important;
        margin: 1pt !important;
        padding: 1cm 0 !important;
        height: auto !important;
        display: inline;
        padding: 1pt 0 !important;

        img {
          width: auto !important;
          height: 4cm !important;
          display: inline !important;
          padding: 4pt 0 !important;
          margin: 0 1pt !important;
          margin: 0;
        }

        p {
          font-size: 14pt !important;
          font-weight: 400;
        }

        ul {
          padding: 6pt 0 !important;
          margin: 0 auto !important;
          width: 5cm !important;

          li {
            border: 1px solid rgba(0, 0, 0, 0.212) !important;
            background-color: rgba(211, 211, 211, 0.336) !important;
            -webkit-print-color-adjust: exact;
            width: 10cm !important;
            padding: 0 !important;
            font: 500 12pt 'Open Sans', arial !important;
            margin: 1pt auto !important;
          }
        }
      }

      li.fullname {
        p {
          font-size: 9pt;
          font-weight: 400;
        }
      }
    }
  }

  .chemins-triades {
    height: auto !important;

    h2 {
      font-size: 20pt !important;
      width: 100vw !important;
      margin: 3pt 0 3pt !important;
    }

    h2.triades {
      break-before: always !important;
      order: 3 !important;
    }

    ul.list-chemins {
      order: 2 !important;
      break-after: always !important;
    }

    ul.list-triades {
      display: flex !important;
      flex-flow: wrap row !important;
      justify-content: space-between !important;

      li {
        width: 25vw;
      }
    }

    ul.list-chemins,
    ul.list-triades {
      height: auto !important;
      width: 90vw !important;
      margin: auto !important;
      overflow: visible !important;

      li {
        border-bottom: 1px solid !important;
        border-radius: 0 !important;
        margin: 6pt auto !important;
        display: block;
        padding: 0 !important;
        font-size: 15pt;

        figure {
          margin: 0 !important;
          padding: 0 !important;

          ul {
            li {
              padding: 0 !important;
              margin: 0 !important;
              border: none !important;
            }
          }

          img {
            height: 3.5cm !important;
          }

          figcaption {
            margin: 0 auto 2pt !important;
            padding: 0 !important;
            font: 500 15pt 'Open Sans', arial !important;
          }
        }
      }
    }
  }

  .annees-personnelles {
    display: block !important;
    height: inherit !important;
    margin: auto !important;
    width: inherit !important;

    ul {
      align-content: center !important;
      box-sizing: border-box;
      display: grid !important;
      grid-auto-rows: auto !important;
      grid-gap: 5pt !important;
      grid-template-columns: repeat(auto-fill, 1.1cm) !important;
      height: inherit !important;
      margin: 0 !important;
      overflow: visible !important;
      padding: 0 5pt !important;
      width: inherit !important;

      li {
        break-inside: avoid;
        width: auto !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;

        img {
          height: auto !important;
          margin: 0 !important;
          width: 100% !important;
        }

        p {
          font: 500 8pt 'Open Sans', arial !important;
          margin: 0 !important;
          padding: 0 !important;
        }
      }
    }
  }
}
