@import 'Styles/vars.scss';
@import 'Styles/mixin.scss';

.App {
  text-align: center;
  font-family: $font;
  min-height: 100vh;
  height: 100vh;
  background-image: url('~Assets/img/background.jpg');
  background-size: cover;
  box-shadow: 0 0 0px 1000px #004c8042 inset;

  main.arcane {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: nowrap row;
    padding: 0 5%;
    opacity: 1;
    transition: 0.3s;
    height: 92vh;

    @include m {
      padding: 0 5%;
    }
    @include s {
      padding: 0;
    }
    article {
      width: 100%;
    }
  }
  
  input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .7);
  }
}
