@import 'Styles/vars.scss';
@import 'Styles/animations.scss';

article.arcanes {
  display: flex;
  justify-content: center;
  transition: opacity 0.8s ease-in-out 0.6s, width 1s ease-in-out, transform 1s cubic-bezier(0.645, 0.045, 0.355, 1) 1s;
  transform: translate3d(0em, 0em, 0em);
  opacity: 1;
  height: 92vh;
  margin-left: 10%;
  animation: fadeInZoomOut .4s;

  &.hide-arcanes {
    transform: translate3d(100em, 0em, -1945em);
    opacity: 0;
  }

  ul {

    &.first,
    &.second {
      height: 100%;
      display: flex;
      list-style: none;
      flex-flow: wrap row;
      justify-content: center;
      padding: 0;
      margin: 0;
      li {
        perspective: 1000px;
        font-weight: 100;
        display: flex;
        justify-content: center;
        figure {
          height: 16.5vh;
          width: auto;
          margin: 2px 0;
          padding: 2px 5px;
          background: $card-bg;
          border-radius: 5px;
          position: relative;
          z-index: 4;
          transition: .3s ease;
          box-shadow: $boxShadowOnEl;
          will-change: transform;
          will-change: box-shadow;
          
          // &:hover {
          //   z-index: 5;
          //   transform: scale(1.4);
          // }
          picture {
            height: auto;
            width: auto;

            img {
              width: auto;
              height: 13.5vh;
              transition: .2s ease-in .5s;
              &.anim-shadow {
                transform: translateY(0);
              }
            }
          }

          figcaption {
            color: black;
            font-size: 0.8em;
            font-weight: 400;
            background: $card-bg;
            transition: 1s ease 1.6s;
            margin: 5px auto 0 auto;
            animation: fade 2s;
            &.description {
              opacity: 0;

              &.show-description {
                opacity: 1;
                margin: 0;
                padding: 0 5px;
                border-radius: 5px;
                box-shadow: $boxShadowOnBg;
              }
            }
          }
        }  
      }
    }

    &.first {
      width: 50%;
      align-content: space-evenly;

      li {
        padding: 0;
        height: calc(20% - 10px);
      }
      .m6, .m8, .m10, .m7 {
        width: 30%;
      }
      .m6, .m10 {
        figure {
          box-shadow: -6px 7px 15px -2px #00000060;
          transform: rotate(-30deg) translateY(0);
        }
      }
      .m8, .m7 {
        figure {
          box-shadow: 6px 7px 15px -2px #00000060;
          transform: rotate(30deg) translateY(0);
        }
      }
      .m12 {
        width: 100%;
        order: 1;

      }

      .m6 {
        margin: 0 0 10px 10%;
        order: 2;
      }

      .m1 {
        width: 20%;
        order: 3;
      }

      .m8 {
        margin: 0 10% 10px 0;
        order: 4;
      }

      .m9 {
        width: 20%;
        order: 5;
      }

      .m2 {
        width: 20%;
        order: 6;
      }

      .m5 {
        width: 20%;
        order: 7;
      }

      .m4 {
        width: 20%;
        order: 8;
        margin-right: 20%;
      }

      .m7 {
        order: 9;
        margin: 10px 0 0 10%;
      }

      .m3 {
        order: 10;
        width: 20%;
      }

      .m10 {
        order: 11;
        margin: 10px 10% 0 0;
      }

      .m11 {
        order: 12;
        width: 100%;
      }
    }

    &.second {
      width: 15%;
      align-content: center;
      margin-right: 10%;
      li {
        width: 100%;
        height: auto;
        padding: 5% 0;

        p {
          margin: auto;
        }
      }

      .fullname {
        order: 13;
        font-size: .9em;
        color: white;
      }

      .m13 {
        order: 14;
      }

      .m14 {
        order: 15;
      }
    }
  }
}