article.arcanes {
  display: flex;
  justify-content: center;
  transition: opacity 0.8s ease-in-out 0.6s, width 1s ease-in-out, transform 1s cubic-bezier(0.645, 0.045, 0.355, 1) 1s;
  transform: translate3d(0em, 0em, 0em);
  opacity: 1;
  height: 92vh;
  margin-left: 10%;

  &.hide-arcanes {
    transform: translate3d(100em, 0em, -1945em);
    opacity: 0;
  }

  ul {

    &.first,
    &.second {
      height: 100%;
      display: flex;
      list-style: none;
      flex-flow: wrap row;
      align-content: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      li {
        perspective: 1000px;
        font-weight: 100;
        display: flex;
        justify-content: center;
        figure {
          height: auto;
          width: 5vw;
          margin: 0;
          padding: 0;
          picture {
            height: auto;
            width: auto;
            box-shadow: 0 0 0 0#00000060;
            transition: 1.7s ease .9s;
            will-change: transform;
            will-change: box-shadow;

            img {
              width: auto;
              height: 13.5vh;
              transition: .2s ease-in .5s;
              &.anim-shadow {
                transform: translateY(0);
                box-shadow: 0px 7px 2px -2px #00000060;
              }
            }
          }

          figcaption {
            color: white;
            font-size: 0.8em;
            transition: 1s ease 1.6s;
            margin: 5px auto 0 auto;
            &.description {
              opacity: 0;

              &.show-description {
                opacity: 1;
              }
            }
          }
        }  
      }
    }

    &.first {
      width: 50%;

      li {
        padding: 0;
        height: 19%;
      }

      .m12 {
        width: 100%;
        order: 1;

      }

      .m6 {
        width: 30%;
        margin: 0 0 10px 10%;
        order: 2;

        picture {
          margin: -5% -30% 0 0;
          transition: 1.7s ease .9s;
          will-change: transform;
          will-change: box-shadow;
          transform: translateY(-4em);
          box-shadow: 0 0 0 0#00000060;

          img {
            &.anim-shadow {
              transform: rotate(-30deg) translateY(0);
              box-shadow: 0px 7px 2px -2px #00000060;
            }
          }
        }
      }

      .m1 {
        width: 20%;
        order: 3;
      }

      .m8 {
        width: 30%;
        margin: 0 10% 10px 0;
        order: 4;

        picture {
          margin: -5% 0 0 -30%;
          transition: 1.7s ease .9s;
          will-change: transform;
          will-change: box-shadow;
          transform: translateY(-4em);
          box-shadow: 0 0 0 0#00000060;
          img {
            &.anim-shadow {
              transform: rotate(30deg) translateY(0);
              box-shadow: 0px 7px 2px -2px #00000060;
            }
          }
        }
      }

      .m9 {
        width: 20%;
        order: 5;
      }

      .m2 {
        width: 20%;
        order: 6;
      }

      .m5 {
        width: 20%;
        order: 7;
      }

      .m4 {
        width: 20%;
        order: 8;
        margin-right: 20%;
      }

      .m7 {
        order: 9;
        width: 30%;
        margin: 10px 0 0 10%;

        picture {
          margin: 5% -30% 0 0;
          box-shadow: 0 0 0 0#00000060;
          transition: 1.7s ease .9s;
          will-change: transform;
          will-change: box-shadow;
          transform: translateY(4em);
          img {
            &.anim-shadow {
              transform: rotate(30deg) translateY(0);
              box-shadow: 0px 7px 2px -2px #00000060;
            }
          }
        }
      }

      .m3 {
        order: 10;
        width: 20%;
      }

      .m10 {
        order: 11;
        width: 30%;
        margin: 10px 10% 0 0;

        picture {
          margin: 5% 0 0 -30%;
          box-shadow: 0 0 0 0#00000060;
          transition: 1.7s ease .9s;
          will-change: transform;
          transform: translateY(4em);

          img {
            &.anim-shadow {
              transform: rotate(-30deg) translateY(0);
              box-shadow: 0px 7px 2px -2px #00000060;
            }
          }
        }
      }

      .m11 {
        order: 12;
        width: 100%;
      }
    }

    &.second {
      width: 15%;
      margin-right: 10%;
      li {
        width: 100%;
        height: auto;
        padding: 5% 0;

        p {
          margin: auto;
        }
      }

      .fullname {
        order: 13;
        font-size: .9em;
        color: white;
      }

      .m13 {
        order: 14;

        // img {
        //   transform: translateY(-4em);
        // }
      }

      .m14 {
        order: 15;

        // img {
        //   transform: translateY(4em);
        // }
      }
    }
  }
}