.annees-personnelles {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;

  .list-annees {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap row;
    list-style: none;
    padding: 0;
    overflow: auto;
    height: 85vh;

    .annees {
      width: 9%;
      color: black;
      background: #ffffffb5;
      margin: 5px;
      padding: 5px 0%;
      border-radius: 15px;

      img {
        border-radius: 5px;
        width: 80%;
      }
      p {
        margin: 1px;
        color: black;
        font-size: .9em;
        font-weight: 100;
      }
    }
  }
  p {
    color: #00000052;
    font-size: 1.5em;
  }
}