@import 'Styles/vars.scss';

header {

  ul {
      display: flex;
      justify-content: center;
      flex-flow: wrap row;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 15px;
        user-select: none;
        display: flex;

        a {
          padding: 5px;
          color: $not-selected;
          font-weight: 100;
          text-decoration: none;
          border-width: 10px;
          transition: .2s ease-in-out;
          padding: 3px;

          &.selected {
            color: $selected;
            border-bottom: 1px solid;
          }
        }
      }
  }
}