@import 'Styles/vars.scss';

ul.list-voies {
  order: 3;
  list-style: none;
  width: 50%;
  padding: 0;
  margin: 0;
  height: 75vh;
  overflow: auto;
  .voie {
    background: rgba(255, 255, 255, 0.452);
    margin: 10px auto;
    width: 80%;
    padding: 10px 0;
    border-radius: 5px;
    figure {
      margin: 0;
      ul {
        list-style: none;
        margin: auto;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        li.voie-img {
          background: $card-bg;
          padding: 2px 5px;
          border-radius: 5px;
          
          img {
            height: 15vh;
            width: auto;
          }
        }
      }
      figcaption {
        background: $card-bg;
        margin: 10px auto 5px;
        border-radius: 5px;
        width: 80%;
      }
    }
  }
}