@import 'Styles/vars.scss';
@import 'Styles/mixin.scss';

.App {
  text-align: center;
  font-family: $font;
  min-height: 100vh;
  height: 100vh;
  background-image: url('~Assets/img/background.jpg');
  background-size: cover;
  box-shadow: 0 0 0px 1000px #004c8042 inset;

  main.arcane {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: nowrap row;
    padding: 0 20%;
    opacity: 1;
    transition: 0.3s;
    height: 92vh;

    @include m {
      padding: 0 5%;
    }
    @include s {
      padding: 0;
    }
    section.settings {
      width: 20%;
      margin: 0 auto;
      form {
        display: flex;
        justify-content: center;
        flex-flow: wrap row;
        
        fieldset {
          border: none;
          background: rgba(0, 0, 0, 0.226);
          border-radius: 5px;
          display: flex;
          flex-flow: column wrap;
          margin: 5px 0;
        }
        button.user {
          background: rgba(0, 0, 0, 0.226);
          border: rgba(0, 0, 0, 0.226);
          border-radius: 5px;
          color: white;
          width: 40%;
          padding: 2px 0;
          margin: 3px;
        }
        input.user {
          border: none;
          color: rgba(255, 255, 255, .7);
          font-weight: 100;
          background-color: transparent !important;
          font-size: 1em;
          font-family: $font;
          &[type='submit'] {
            width: 50px;
          }
          &[name='currentYear'] {
            text-align: center;
            background: rgba(0, 0, 0, 0.226);
            border-radius: 5px;
          }
          &:focus {
            outline: none;
          }
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
          box-shadow: 0 0 0px 1000px #627f95 inset;
          background: transparent;
          -webkit-text-fill-color: white;
        }
      }
    }
    section.results {
      width: 900px;
      display: flex;
      justify-content: space-evenly;
      transition: opacity 0.8s ease-in-out 0.6s, width 1s ease-in-out, transform 1s cubic-bezier(0.645, 0.045, 0.355, 1) 1s;
      transform: translate3d(0em, 0em, 0em);
      opacity: 1;
      &.hide-arcanes {
        transform: translate3d(100em, 0em, -1945em);
        width: 100%;
        opacity: 0;
      }
      ul {
        &.first, &.second {
          display: flex;
          list-style: none;
          flex-flow: wrap row;
          align-content: center;
          justify-content: center;

          li {
            perspective: 1000px;
            font-weight: 100;

            img {
              height: 105px;
              width: 60px;
              box-shadow:  0 0 0 0#00000060;
              transition: 1.7s ease .9s;
              will-change: transform;
              will-change: box-shadow;
              &.anim-shadow {
                transform: translateY(0);
                box-shadow: 0px 7px 2px -2px #00000060;
              }
            }
            p {
              color: white;

              &.description {
                margin: 0;
                opacity: 0;
                font-size: 0.8em;
                transition: 1s ease 1.6s;

                &.show-description {
                  opacity: 1;
                  color: white;
                }
              }
            }
          }
        }
        &.first {
          width: 90%;
        
          li {
            padding: 0;
          }

          .m12 {
            width: 100%;
            order: 1;

          }
          .m6 {
            width: 40%;
            order: 2;

            img {
              margin: -5% -30% 0 0;
              transition: 1.7s ease .9s;
              will-change: transform;
              will-change: box-shadow;
              transform: translateY(-4em);
              box-shadow:  0 0 0 0#00000060;
              &.anim-shadow {
                transform: rotate(-30deg) translateY(0);
                box-shadow: 0px 7px 2px -2px #00000060;
              }
            }
          }
          .m1 {
            width: 19%;
            order: 3;
          }
          .m8 {
            width: 40%;
            order: 4;
            img {
              margin: -5% 0 0 -30%;
              transition: 1.7s ease .9s;
              will-change: transform;
              will-change: box-shadow;
              transform: translateY(-4em);
              box-shadow:  0 0 0 0#00000060;
              &.anim-shadow {
                transform: rotate(30deg) translateY(0);
                box-shadow: 0px 7px 2px -2px #00000060;
              }
            }
          }
          .m9 {
            width: 20%;
            order: 5;
          }
          .m2 {
            width: 20%;
            order: 6;
          }
          .m5 {
            width: 20%;
            order: 7;
          }
          .m4 {
            width: 20%;
            order: 8;
            margin-right: 18%;
          }
          .m7 {
            order: 9;
            width: 40%;
            img {
              margin: 5% -30% 0 0;
              box-shadow:  0 0 0 0#00000060;
              transition: 1.7s ease .9s;
              will-change: transform;
              will-change: box-shadow;
              transform: translateY(4em);
              &.anim-shadow {
                transform: rotate(30deg) translateY(0);
                box-shadow: 0px 7px 2px -2px #00000060;
              }
            }
          }
          .m3 {
            order: 10;
            width: 19%;
          }
          .m10 {
            order: 11;
            width: 40%;
            img {
              margin: 5% 0 0 -30%;
              box-shadow:  0 0 0 0#00000060;
              transition: 1.7s ease .9s;
              will-change: transform;
              transform: translateY(4em);
              &.anim-shadow {
                transform: rotate(-30deg) translateY(0);
                box-shadow: 0px 7px 2px -2px #00000060;
              }
            }
          }
          .m11 {
            order: 12;
            width: 100%;
          }
        }
        &.second {
          width: 300px;

          li {
            width: 100%;
            padding: 5% 0;

            p {
              margin: 0;
            }
          }
          .fullname {
            order: 13;
            color: white;
          }
          .m13 {
            order: 14;
            img {
              transform: translateY(-4em);
            }
          }
          .m14 {
            order: 15;
            img {
              transform: translateY(4em);
            }
          }
        }
      }
    }
  }
}
footer {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  right: 0;
  span {
    bottom: 0;
    left: 0;
    position: absolute;
    color: rgba(255, 255, 255, 0.445);
    user-select: none;
    font-size: 0.5em;
  }
  button {
    bottom: 10px;
    right: 10px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.377);
    padding: 2px 5px;
    border-radius: 5px;
    transition: .2s;
    &:hover {
      background-color: rgba(255, 255, 255, 0.664);
    }
    img {
      width: 30px;
    }
  }
}
input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, .7);
}

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
  }
  body > *:not(section.results) {
    display: none;
  }
  @page {
    margin: 0cm;
  }
  header,
  footer,
  section.settings,
  #background {
    display: none;
  }
  main, #root, {
    height: unset !important;
    width: unset !important;
  }
  section.results {
    background: white !important;
    position: absolute;
    display: inherit;
    page-break-inside: avoid;
    top: 0;
    left: 0;
    right: 0;
    width: 20cm !important;
    height: 13cm !important;
    font-size: 10px;
    justify-content: center !important;
    ul {
      li {
        color: black;
        // padding: 2px !important;
        // height: 2.4cm !important;
        img {
          height: 2cm !important;
          width: auto !important;
        }
        p {
          color: black;
        }
      }
    }
    ul.first {
      width: 60% !important;
    }
    ul.second {
      width: 20% !important;
      padding: 0;
    }
  }
}